/* 팝업 CSS */
#popup{
    background-color: red;
    width: 200px; height: 200px;
    position: fixed;  /* 화면 위치 고정 */
    bottom: 50px; right: 10px;
    /* z-index 겹치는 부분을 우선순위 변경 */
    z-index: 4;
}

/*  2. 헤더메뉴 CSS */
#header{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    position: sticky; /* 스크롤 밖으로 나갔을때 위치 고정 */
    /* z-index의 값이 높을수록 위에 표시된다. */
    top: 50px;
    z-index: 3;
}

#header > ul{
    display: flex;
}