/* 공통 CSS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
    border: 1px solid red;
}

li {list-style-type: none;}

#space1{
 
}


.가입{
    color: blue;
}

.Flogin{
    color: blue;
}

#imgf{
    object-fit: contain;
}

.divider {
    display: flex;
    align-items: center;
    /* 수직 중앙 정렬 */
    width: 400px;

}

.divider::before,
.divider::after {
    content: "";
    /* 가상요소에는 빈 문자열 */
    width: 100px;
    height: 1px;
    /* 선 굵기 */
    background-color: black;
    margin: 0px 10px;
}


#mainimg1{
    width: 600px;
    height: 600px;
    border: 2px solid red;
}


#계정{
    display: flex;
    justify-content: center;
}

#wrap{}
#header{
    width: 100%;
    display: contents;
}

#content{width: 1600px; margin:0 auto}
#footer{width: 100%;}

#footmenu1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

#footmenu2{
    display: flex;
    justify-content: center;
}