/* 공통 CSS */
* {
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
    /* border: 1px solid red; */
}

#wrap{ width: 100%;}

li {list-style-type: none;}

.mainimg{
    width: 552px;
    height: 450px;
    margin-right: 15px;
}

.인스타{width: 350px; height: 400px;}
.mainimg2{ width: 175px; height: 51px;}


.imgf{
    width: 20px; height: 20px;
    text-align: center;
}

.main{display:  flex; justify-content: center; width: 100%; margin-top: 150px; text-align: center;}


.divider{
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    width: 350px;
    margin-left: 50px;

}

.divider::before, .divider::after{
    content: ""; /* 가상요소에는 빈 문자열 */
    width: 100px;
    height: 1px; /* 선 굵기 */
    background-color: black;
    margin: 0px 10px;
}


.login { background-color: #0095f6;
    color: white;
    width: 270px; height: 30px;
    border-radius: 10px;
    margin: 10px;
}

input{ width:260px; height: 35px;
    border-radius: 10px;
    margin: 5px;
}

.Flogin{
    color: blue;
}

#footer > ul{
    display: flex;
    justify-content: center;
    padding: 50px;   
}

#footer > ul > li{ margin: 0px 0px 0px 20px;}

#footer > .footmenu2{ display: flex; justify-content: center; margin: 0 auto;}

