/* CSS 주석 처리 */
/*
    [CSS 구조]
        선택자 {속성값 : 값;}

    [CSS 선택자]
    1. * 전체선택자 (공통 CSS 적용)
    2. 마크업명 : 마크업선택자
    3.  .클래스 : 클래스 선택자 (복수형)
    4. #아이디 : 아이디 선택자  (단일형)
    
    * 만일 속성이 중복일때 우선순위
    id > Class > 마크업 > *
    
    * 그외 중복일때는 코드작성순으로 마지막 코드의 속성이 적용
    * 관례적으로, 일반적으로 최대한 클래스 선택자 활용하고 특정한 부분만 ID 선택자를 적용한다.
    


    * 여러개 선택자를 한번에 적용 : 선택자A , 선택자B (,쉼표를 이용한 다중 선택자)
    - 자식 선택자 : > 이용한 자식 선택자
        - 부모 선택자 : > 자식선택자 {}
    - 자손 선택자 : 띄어쓰기 이용한 자손 선택자
        - 부모선택자 자손선택자{}

*/

*{ color : red; } /* !important */
h4{color : blue; }
.구역1{color: yellow;}
#구역2{color: brown;}
.구역3{color: bisque;} /* 마지막 Class만 적용됨 */
#구역4{color: blueviolet;}

/* 다중 선택자 */
h5 , h6 {color: aqua;}
/* 자식 (하위-child) 직계 선택자 */
div > h3{ /* div 마크업 바로 아래의 h3 선택 */
    color : green;}

div > .구역5{color: chartreuse;}    

/* 자손 전체 선택자 : div 마크업 내 모든 h3 선택 */
div h3{color: purple;}


body > div > ol > li > h3 {}
vs
#이름1{color: antiquewhite;}
