

.사과{
    text-align: center;
    border: solid 1px rgb(179, 177, 169);
}


.container{
    border: solid 1px rgb(126, 125, 124);

}

.q{
    text-align: left;
    
}

.w{
   text-align: left;
}

.e{
   text-align: left;
   
}

.냅{
    color: orange;
}

.넵{
    color: orange;
}