/* 확인용 : 완성후 삭제

*{
    border: solid 1px red;
    padding: 3px;
}

*/


/* 1. 로그인 구역 */
.container{
    width: 500px ; /*현재 선택자 구역의 가로 크기 */
    margin: 50px auto; /* 현재 선택 구역의 가로 가운데 */
    text-align: center; /*현재 선택자 구역의 내용물들을 가로 가운데 */
    box-shadow: 3px 3px 3px pink; /* 구역 그림자 */
    border-radius: 15px; /* 둥근 모서리 */ 
    padding: 5px 0px 25px 0px ; /* 안쪽 여백 */

}

.input1, .input2{
    width: 150px; height: 30px ;
    padding : 0px 15px; /* 안쪽 여백 */
    border: 1px solid gray; /* 테두리 없음 : none */
    border-radius: 10px; /* 둥근모서리 */
    margin: 7px 0px; /* 바깥여백 */
}

/* 3. 로그인 버튼 */

.input3{
    background-color: blue;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    /* 버튼 크기 조정할때 주로 안쪽 여백 */
    padding: 5px 20px;
    margin-bottom: 15px;
}

/* 4. 링크 a */
a{
    text-decoration: none; /* 밑줄 제거 */
}


.input4{
    font-weight: 500; font-size: 13px;
}
