/* 구역 사이즈 기준: 컨텐츠+안쪽여백 */
*{box-sizing: border-box;}
*{margin : 0px; padding: 0px;} /*기본 여백들을 제거*/


/*확인용*/
*{
    border: 1px solid red;}
#header{ height: 150px;}
#main{height: 400px;}
#footer{height: 100px;}

/* 공통 부문 */

a{ /*링크 기본값 제거 */
    text-decoration: none; /* 밑줄제거 */
    color: black; /* 글꼴 색상 */
}

/* ul 또는 ol에서 글머리 제거 */
li{ list-style-type: none;}


/*====================[스크립트 작성]======================*/

/* wrap : 전체 구역 */
#wrap{
    width: 1280px;     /* 웹표준 가로 사이즈 : 1280px */
    margin: 0 auto;
}


/* 본문 */
#main{
    display: flex;
    flex-wrap: nowrap; /* 크기 자동 맞춤 */
    flex-direction: row; /* 배치 방향 : 가로 */
    justify-content: space-between; /* 양쪽에 여백없이 균등정렬 */
    align-items: stretch;
}

.H_LOGO{
    width: 120px; height: 20px;
    margin: 30px;
 
}

.H_H{
    width: 920px; height: 40px;
    display: flex;
    align-items: center;
    
}

.Search{
    width: 400px; height: 40px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    margin: 20px;
}

#Search_in{
    background-color: #f2f2f2;
    width: 376px; height: 20px;
    padding: 10px;
    margin: 30px;
}

.H_D{
    margin: 10px;
}

.top-menu{
    display: flex;
    justify-content: right;
    width: 600px;
}

.H_login{
    width: 30px; height: 28px;
}

.H_장바구니{
    width: 30px; height: 30px;
}

.list_menu{
    display: flex;
    justify-content: space-between;
    width: 800px; height: 50px;
    padding: 10px;
    margin: 30px;
}


.H_midle{
    text-align: center;
}

.H_midle > img{
    padding-left: 25px;
    padding-right: 25px;
}



.contentsa{
    display: flex;
    width: 393px; height: 393;
}

.contentsb{
    display: flex;
    width: 343px; height: 150;
}

.HD{
    color:#666666
}

.H2{
    margin: 5px;
    padding: 5px;
}

.H2_2{
    width: 80px; height: 80px;
    display: flex;
}

.H2_3{
    width: 80px; height: 80px;
    display: flex;
}

.H2_4{
    width: 80px; height: 80px;
    display: flex;
}

.H2_product1{
    display: flex;
}

.H2_product2{
    display: flex;
}

.H2_product3{
    display: flex;
}

.H2_M{
    color: #b6b6BB;
}

.H2_M1{
    color: red;
}

.별{
    display: flex;
    color:#666666;
}

.H3_1{
    display: flex;
}

.footer-logo1{
    width: 123px; height: 24px;
    margin: 25px;
}

.footer-info{
    display: flex;
    margin: 25px;
}


